**/*.log
**/*.bak
**/__pycache__/
*.pyo
*.pyc
**/*.pyc
*.xml
**/*.txt
**/.idea/
*~
.vscode
#*.sqlite
#**/*.sqlite
*.log
*.bak
*.pdf
*.tex
.project
.pydevproject
venv/*
Osdag_Workspace/*
/Osdag.config
/Osdag.bat
/Osdag.lnk
/Uninstall_Osdag.exe
/backup
OUTPUT_FILES/Output_PDF/*
Output_PDF/*
ResourceFiles/images/3d.png
ResourceFiles/images/front.png
ResourceFiles/images/side.png
ResourceFiles/images/top.png
ResourceFiles/images/3DSectionfromSectionModeller.png
ResourceFiles/Osi_Files/*
*.xlsx
ResourceFiles/last_designs/*
ResourceFiles/html_page/*
#osdag_web/secret_key.py
db.sqlite3
osdagclient/node_modules
osdag/migrations
node_modules
osdagclient/public/output-obj.obj
file_storage/design_report/*.pdf
file_storage/design_report/*.log
file_storage/design_report/*.tex
file_storage/design_report/*.aux

# ignore the brep fles 
file_storage/cad_models/*.brep

# ignore companylogo images 
file_storage/company_logo/*.png

# ignore the input values files 
file_storage/input_values_files/*.osi