asgiref==3.7.2
Django==4.2.1
django-cors-headers==4.0.0
django-rest-framework==0.1.0
djangorestframework==3.14.0
numpy==1.24.3
ordered-set==4.1.0
PyLaTeX==1.4.1
pytz==2023.3
PyYAML==6.0
sqlparse==0.4.4
typing_extensions==4.6.3
