body {

    margin: 0;
    padding: 0;
}

.sidebar{
    display: flex;
    flex-direction: row;
}
/* Sidebar- */
.sidebar-container{

    background-color:#91b014;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-content: center;
    padding: 1rem;
}
.sidebar-item-logo img{
    border-radius: 2%;
    align-content:center;
}
.sidebar-container .sidebar-item{
    padding: 10px;
}


/* Main Window */
.osdag-main-title {

    display: flex;
    flex-direction: column;
    padding: 10px;

}
.osdag-main-title img:nth-child(1){

      padding-top: 7rem;
      padding-left: 2rem;
}
.osdag-main-title-element{
    display: flex;
    flex-direction: row;
    gap: 33rem;
    align-items:center;
    align-content: center;
    margin-top: 60px;
}
.sidebar-setting h5{
    padding: 0;
    margin-left: 3px;
    margin-top: 4px;
    margin-bottom: 0;
    border: 2px solid #000;
    text-align: center;
}
.sidebar-container .sidebar-item{
    display: flex;
    flex-direction: column;
}
/* Connection.jsx */
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 150vh;
  height: 300px;
  background: #f1f1f1;
  margin: 5px auto 0;
  word-break: break-all;
  border: 0px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
}
.tabs {

  padding: 10px;
  text-align: center;
  width: 100%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: #91b014;
}



button {
  border: none;
  
}
.content-tabs {
  flex-grow : 1;
}
.content {
  background: white;
  padding: 5px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}


/* Grid */

.conn-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  .conn-grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
  .conn-grid-item:nth-child(1){
    border-radius: 30px 0 0 0;
  }
  .conn-grid-item:nth-child(2){
    border-radius: 0 30px 0 0;
  }
  .conn-grid-item:nth-child(3){
      border-radius: 0 0 0 30px;
    }
  .conn-grid-item:nth-child(4){
      border-radius: 0 0 30px 0;
    }




    
    /* CSS */
    .conn-btn button{
      align-items: center;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
      box-sizing: border-box;
      color: #121212;
      cursor: pointer;
      display: inline-flex;
      flex: 1 1 auto;
      font-family: Inter,sans-serif;
      font-size: 1.2rem;
      font-weight: 700;
      justify-content: center;
      line-height: 1;
      margin: 0;
      outline: none;
      padding: 1rem 1.2rem;
      text-align: center;
      text-decoration: none;
      transition: box-shadow .2s,-webkit-box-shadow .2s;
      white-space: nowrap;
      border: 0;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .conn-btn button:hover {
      box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
    }

    .solo-item{
        height: max(300px) ;
        width: max(400px) ;
        padding: 50px;
        position: relative;
    }
    
    /* Sidebar Button  */

  
/* <button class="button-28" role="button">Button 28</button> */

/* CSS */
.sidebar-container .sidebar-item button{
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 8px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height:20px;
  min-width: 0;
  outline: none;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.sidebar-container .sidebar-item button:disabled {
  pointer-events: none;
}

.sidebar-container .sidebar-item button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.sidebar-container .sidebar-item button:active {
  box-shadow: none;
  transform: translateY(0);
}


/* Fine Plate */

.module_nav{
  margin-top: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #d2d4d2;
  width: 100%;
  /* padding-right: ; */
}
.module_nav div{

  padding:0.6rem;
}
.module_nav div:hover{
  background-color:#91b014 ;
  cursor: pointer;
}



/* FinePlate Body*/

.superMainBody{
display:grid;
grid-template-columns: auto auto auto;
padding: 20px;
margin: 20px;
}

/* 
.subMainBody{
  display: flex;
  flex-direction: column;
}

.childMainBody{
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin-bottom: 30px;

  
} */


.superMainBody_left{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  margin: 20px;
}

.superMainBody_mid{
  padding: 20px;
}

.superMainBody_right{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
  margin: 10px;
}
.superMainBody_right input{
  margin-left: 10px;
  border-radius: 2px;
}