nav button.navbutton {
    font-family: 'ubuntu';
    font-size: 15px;
    padding: 5px;
    height: 30px;
    background-color: brown;
    color: white;
    align-self: center;
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
  }

nav {
    display:grid;
    width: 20vw;
    padding: 39px;
    background-color: #8fac3a;
    box-shadow: inset 5px 5px #0000006b;
    height: calc(100vh - 80px);
}

nav button.conbutton {
    font-family: 'ubuntu';
    background-color: brown;
    color: white;
    font-size: 15px;
    padding: 5px;
    height: 30px;
    align-self: center;
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
  }
